---
---
@import 'colors';

$maxwidth: 1920px;

@include font-face(Pavanam, fonts/pavanam-v2-latin-regular);


#top {
 	background-image: url("/src/santiago3.jpg");
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
	height:320px;
	padding-top: 1px;
	padding-left: 20px;
  color: $darktext;
  text-shadow: 2px 2px 2px $lighttext;
}

body {
  font-family: 'Pavanam', sans-serif;
  background-color: $backcolor;
  padding: 0px;
  margin: 0px;
  width: auto;
  overflow:scroll;
}

body a{
  color: $darkblue;
}

th{
  text-align: left;
}

#wrap{
  max-width: $maxwidth;
  margin: 0 auto;
}
  
#surround{
  display: inline-block;
  width:100%;
  max-width: $maxwidth;
}

#menu {
  width:98vw;
  max-width:100%;
	padding-top: 20px;
	padding-left: 0px;
	padding-bottom: 0px;
}

.entry {
  display: inline-block;
  padding:8px;
  padding-left:4px;
  padding-right:4px;
  margin-left: 10px;
  margin-bottom: 8px;
  width: 135px;
  text-align: center;
  color: $darktext;
  box-shadow: 5px 5px 5px $shadow;
}
  
.entry:hover {
  box-shadow: 1px 1px 1px $shadow;
}

.main {
  background-color: $rured;
  color: $lighttext;
}

#content {
  position:relative;
	background-color: white; 
  box-shadow: 5px 5px 5px $shadow;
	min-height: 300px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 90px;
	margin: 8px;
	margin-top: 18px;
}

#content h2 {
  text-align:center;
}

#content td{
  background-color: $lightbox;
  padding: 3px;
}

#content th{
  background-color: $backcolor;
  padding: 3px;
}

#footer{
  position:absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: $lightbox;
  text-align: right;
  padding:5px;
  margin-top: 20px;
}

.float{
  display: inline-block;
  vertical-align:top;
  padding:5px;
  margin: 3px;
  text-decoration: none;
  min-width:20%;
}

.floatbox{
  display: inline-block;
  vertical-align:top;
  background-color: $lightbox;
  padding:5px;
  margin: 3px;
  text-decoration: none;
  min-width:20%;
}

.floatbox th{
  background-color: $backcolor;
  padding: 3px;
}


.floatbox td{
  background-color:white;
  padding: 3px;
}

.stats td{
  text-align: right;
}

.former {
  display: inline-block;
  padding: 3px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.code {
  border-style:dashed; 
  border-width:1px; 
  background-color:#dddddd; 
  padding:5px; 
  margin:5px; 
  font-family:monospace;
}

