<!DOCTYPE html>

<html lang=en>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="wrap">
      <div id="surround">

        <div id="top">
          <div style="width:90vw">
            <h1 style="margin-top:22pt;margin-left:10pt">HACS</h1>
            <h3 style="margin-top:-15pt;margin-left:10pt">High-Assurance Cryptographic Software</h3>
          </div>
        </div>


        <div id="menu">
          <a href="/index.html"><div class="entry main">Home</div></a>
          <a href="/hacs2020.html"><div class="entry main">HACS 2020</div></a>
          <a href="/pasthacs.html"><div class="entry main">Past HACS</div></a>
          <a href="/links.html"><div class="entry main">Projects &amp; Links</div></a>
        </div>

        <div id="content">

          <h2>{{ page.title }}</h2>

          {{ content }}

          <div id="footer">
            Design 2018 by <a href="https://cryptojedi.org">Peter Schwabe</a>, last updated {{ page.date }} 
            <br>
            Title photo by <a href="https://www.flickr.com/photos/2011101/">Sven Graeme</a> (modified)
            (<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>)
          </div>

        </div> <!-- content -->
      </div> <!-- surround -->
    </div> <!-- wrap -->
  </body>
</html>
