<!DOCTYPE html>

<html lang=en>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="wrap">
      <div id="surround">

        <div id="top">
          <div style="width:90vw">
            <h1 style="margin-top:22pt;margin-left:10pt">Latincrypt 2019</h1>
            <h3 style="margin-top:-15pt;margin-left:10pt">Santiago de Chile, Oct. 2&ndash;4, 2019</h3>
          </div>
        </div>


        <div id="menu">
          <a href="/index.shtml"><div class="entry main">Home</div></a>
          <a href="/pc.shtml"><div class="entry main">Program Committee</div></a>
          <a href="/cfp.shtml"><div class="entry main">Call for Papers</div></a>
          <a href="/submit.shtml"><div class="entry main">Paper Submission</div></a>
          <a href="/ascrypto.shtml"><div class="entry main">ASCrypto 2019</div></a>
          <a href="/venue.shtml"><div class="entry main">Venue and Hotels</div></a>
          <a href="/travel.shtml"><div class="entry main">Travel Information</div></a>
          <a href="/sponsors.shtml"><div class="entry main">Call for Sponsors</div></a>
        </div>

        <div id="content">

          {{ content }}

          <div id="footer">
            <!--#config timefmt="%b %d, %Y" -->
            Design 2018 by <a href="https://cryptojedi.org">Peter Schwabe</a>, last updated <!--#echo var="LAST_MODIFIED"-->
            <br>
            Title photo by <a href="https://www.flickr.com/photos/61013352@N07/">Luxbao</a> (modified)
            (<a href="https://creativecommons.org/publicdomain/mark/1.0/">Public Domain</a>)
          </div>

        </div> <!-- content -->
      </div> <!-- surround -->
    </div> <!-- wrap -->
  </body>
</html>
